<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374658689391-t18uao6ej095u9v7h5o8fs5vdo1ft8bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374658689391-t18uao6ej095u9v7h5o8fs5vdo1ft8bp</string>
	<key>API_KEY</key>
	<string>AIzaSyCqr2zZbaeY3V8lpeXaaUrkvTw171-BuDU</string>
	<key>GCM_SENDER_ID</key>
	<string>374658689391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozancicek.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-3e7d4</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-3e7d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374658689391:ios:b32e4c1987c97d7e8e609a</string>
</dict>
</plist>